<% layout('layouts/boilerplate') %>

<div class="row">
    <h1 class="text-center"> Edit User Account</h1>
    <div class="col-6 offset-3">

        <form action="/users/<%= user._id%>?_method=PUT" method="POST" novalidate class="validated-form" enctype="multipart/form-data"> 


            <div class="mb-3">
                <label class="form-label" for="email">Email</label>      
                <input class="form-control" type="email" id="email" name="user[email]" required value="<%=user.email%>">
            </div>
            <div class="mb-3">
                <label class="form-label" for="bio">Bio</label>      
                <input class="form-control" type="text" id="bio" name="user[bio]" required value="<%=user.bio%>">
            </div>
           
            <div class="mb-3">
                <label for="avatar" class="form-label">Avatar: </label>
                <input type="file" name="image" id="avatar"> 
            </div>

            <% if(loggedUserRole.roleType === 'super admin'){ %>

                    <div class="mb-3">
                        <label for="role" class="form-label">Change Role</label>
                        <select name="user[role]" id="role">
                            <% for(let role of roles){ %> 
                                <option <%= user.role._id.equals(role._id) ? 'selected' : '' %> value="<%=role._id%>"><%=role.roleType%></option>
                                <% } %> 
                        </select>
                    </div>
                
                <% } %> 
            

            <div class="mb-3">
                <button class="btn btn-info">Update User</button>
            </div>
            
        </form>
        <a href="/users/<%= user._id %>">Back to User</a>
    </div>
</div>